/*
 * FILES
 */

includeConfig 'default.config'

params{
        genus = "Actinidia"
        species = "chinensis"
        cultivar = "Russell"
        project = "Test"
        output_dir = "./"
        reads = "$baseDir/KiwiTestData/*R{1,2}.fq.gz"
        genome = "$baseDir/KiwiTestData/kiwitest.fasta"
        design = "./design.config"

        build_index_module='bwa/0.7.12'

        align_module = 'bwa/0.7.12:samtools/1.2'
        pub_align = "800.AlignRNA"
}

